header {
    display: block;
    width: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    font: sans-serif;
}

.panel-body,
.panel-primary {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 400;
    text-align: center;
}

.help-block {
    color: red;
}